<%=t 'autoclose.greeting' %>

<p><label><%=t 'autoclose.interval.label' %>: </label>
<%= text_field_tag 'settings[autoclose_interval]', @settings['autoclose_interval'] %><br />
<em><%=t 'autoclose.interval.description' %></em>
</p>

<p><label><%=t 'autoclose.user.label' %>: </label>
<%= select_tag 'settings[autoclose_user]',
  options_for_select(User.where(status: 1).collect{|u| [u.name,u.mail]}, @settings['autoclose_user']) %><br />
  <em><%=t 'autoclose.user.description' %></em>
</p>

<p><label><%=t 'autoclose.note.label' %>: </label>
<%= text_area_tag 'settings[autoclose_note]', @settings['autoclose_note'], :size => '50x5' %><br />
<em><%=t 'autoclose.note.description' %></em>
</p>

<p><label><%=t 'autoclose.projects.label' %>: </label>
<%= text_field_tag 'settings[autoclose_projects]', @settings['autoclose_projects'], :size => 50 %><br />
<em><%=t 'autoclose.projects.description' %></em>
</p>

<p><label><%=t 'autoclose.project_names.label' %>: </label>
  <%= check_box_tag 'settings[autoclose_project_names]', '1', (@settings['autoclose_project_names'] || '0') == '1' %><br />
  <em><%=t 'autoclose.project_names.description' %></em>
</p>

<p><label><%=t 'autoclose.active.label' %>: </label>
<%= check_box_tag 'settings[autoclose_active]', '1', (@settings['autoclose_active'] || '0') == '1' %><br />
<em><%=t 'autoclose.active.description' %></em>
</p>

<p><label><%=t 'autoclose.resolved_statuses.label' %>: </label>
<%= select_tag 'settings[autoclose_resolved_statuses]',
  options_for_select(IssueStatus.pluck(:name), @settings['autoclose_resolved_statuses'] || [@settings['autoclose_resolved_status']]),
  multiple: true,
  size: 5 %><br />
</p>

<p><label><%=t 'autoclose.closed_status.label' %>: </label>
<%= select_tag 'settings[autoclose_closed_status]',
  options_for_select(IssueStatus.pluck(:name), @settings['autoclose_closed_status'] || 'Closed') %><br />
</p>

<p><label><%=t 'autoclose.trackers.label' %>: </label>
<%= select_tag 'settings[autoclose_trackers]',
  options_for_select(Tracker.pluck(:name), @settings['autoclose_trackers'] || [@settings['autoclose_trackers']]),
  multiple: true,
  size: 5 %><br />
  <em><%=t 'autoclose.trackers.description' %></em>
</p>
